body {
  margin: 0;
  padding: 0;
}

/* 헤더 */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.header-container {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  padding: 5px;
  width: 300px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.user-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

/* 본문 */

.main-content {
  padding: 20px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 30px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  grid-gap: 20px;
}

.item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* 풋터 */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
}
